In [83]:
import scipy as sp
import numpy as np
import pandas as pd

In [84]:
import json
with open('dublin_v5.json') as f:
    FSQ_dublin = json.load(f)
FSQ_dublin.keys()

dict_keys(['results', 'context'])

In [85]:
FSQ_dublin['results']
type(FSQ_dublin['results'])
dublin = pd.json_normalize(FSQ_dublin, record_path='results')
dublin['categories']
type(dublin['categories'])
dublin.head()

,fsq_id,categories,chains,distance,link,name,timezone,geocodes.main.latitude,geocodes.main.longitude,geocodes.roof.latitude,...,location.formatted_address,location.locality,location.postcode,location.region,location.neighborhood,location.address_extended,location.cross_street,related_places.children,related_places.parent.fsq_id,related_places.parent.name
0,4b044c50f964a5200b5322e3,"[{'id': 13018, 'name': 'Pub', 'icon': {'prefix...",[],31,/v3/places/4b044c50f964a5200b5322e3,The Bull and Castle,Europe/Dublin,53.343411,-6.269951,53.343411,...,"5 - 7 Lord Edward St, Dublin, Dublin City",Dublin,Dublin 2,Dublin City,NaN,NaN,NaN,NaN,NaN,NaN
1,4b2a2ceff964a520cba524e3,"[{'id': 13016, 'name': 'Lounge', 'icon': {'pre...",[],61,/v3/places/4b2a2ceff964a520cba524e3,Darkey Kellys,Europe/Dublin,53.343967,-6.269851,53.343967,...,"Fishamble St, Dublin, Dublin City",Dublin,Dublin 2,Dublin City,NaN,NaN,NaN,NaN,NaN,NaN
2,4c7d3c3b10916dcb4fca2896,"[{'id': 10030, 'name': 'History Museum', 'icon...",[],97,/v3/places/4c7d3c3b10916dcb4fca2896,Dublinia,Europe/Dublin,53.343226,-6.272074,53.343226,...,"St Michael's Hill, Dublin, Dublin City",Dublin,Dublin 8,Dublin City,[Christchurch],NaN,NaN,NaN,NaN,NaN
3,4fdbdce5be77dde69e2f9f58,"[{'id': 17042, 'name': 'Children's Clothing St...",[],139,/v3/places/4fdbdce5be77dde69e2f9f58,Tamp & Stitch,Europe/Dublin,53.344673,-6.269287,53.344673,...,"Unit 3 Scarlet Row, Essex Street West, Temple ...",Dublin,Dublin 8,Dublin City,[Temple Bar],Unit 3,NaN,NaN,NaN,NaN
4,4b8149e5f964a520c49d30e3,"[{'id': 13002, 'name': 'Bakery', 'icon': {'pre...",[],142,/v3/places/4b8149e5f964a520c49d30e3,Queen of Tarts,Europe/Dublin,53.344209,-6.268951,53.344209,...,"Cow's Lane, Dublin, Dublin City",Dublin,Dublin 2,Dublin City,[Temple Bar],NaN,,NaN,NaN,NaN

In [86]:
dublin_concise = dublin[['categories', 'distance', 'name', 'geocodes.main.latitude', 'geocodes.main.longitude', 'location.formatted_address']]
dublin_concise.head()

,categories,distance,name,geocodes.main.latitude,geocodes.main.longitude,location.formatted_address
0,"[{'id': 13018, 'name': 'Pub', 'icon': {'prefix...",31,The Bull and Castle,53.343411,-6.269951,"5 - 7 Lord Edward St, Dublin, Dublin City"
1,"[{'id': 13016, 'name': 'Lounge', 'icon': {'pre...",61,Darkey Kellys,53.343967,-6.269851,"Fishamble St, Dublin, Dublin City"
2,"[{'id': 10030, 'name': 'History Museum', 'icon...",97,Dublinia,53.343226,-6.272074,"St Michael's Hill, Dublin, Dublin City"
3,"[{'id': 17042, 'name': 'Children's Clothing St...",139,Tamp & Stitch,53.344673,-6.269287,"Unit 3 Scarlet Row, Essex Street West, Temple ..."
4,"[{'id': 13002, 'name': 'Bakery', 'icon': {'pre...",142,Queen of Tarts,53.344209,-6.268951,"Cow's Lane, Dublin, Dublin City"

In [100]:
#df.loc[df['Name'].str.contains("pokemon", case=False)]
#dublin_concise.where(dublin_concise['categories'] < 50))
#dublin_concise[â€˜categoriesâ€™]= dublin_concise[â€˜categoriesâ€™].apply(str)
dublin_concise['categories'] = dublin_concise['categories'].apply(str)
#dublin_concise
dublin_concise.loc[dublin_concise['categories'].str.contains("food", case=False)]

#normailze categories, retain a key, merge back together

/var/folders/w6/sy887bgd32s1j5gq5fj42l000000gn/T/ipykernel_3488/462738811.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublin_concise['categories'] = dublin_concise['categories'].apply(str)

,categories,distance,name,geocodes.main.latitude,geocodes.main.longitude,location.formatted_address
0,"[{'id': 13018, 'name': 'Pub', 'icon': {'prefix...",31,The Bull and Castle,53.343411,-6.269951,"5 - 7 Lord Edward St, Dublin, Dublin City"
1,"[{'id': 13016, 'name': 'Lounge', 'icon': {'pre...",61,Darkey Kellys,53.343967,-6.269851,"Fishamble St, Dublin, Dublin City"
4,"[{'id': 13002, 'name': 'Bakery', 'icon': {'pre...",142,Queen of Tarts,53.344209,-6.268951,"Cow's Lane, Dublin, Dublin City"
6,"[{'id': 13006, 'name': 'Beer Bar', 'icon': {'p...",189,The Beer Market,53.343293,-6.273197,"13 High St, Dublin, Dublin City"
8,"[{'id': 13002, 'name': 'Bakery', 'icon': {'pre...",194,The Bakery,53.344571,-6.268568,"U 3 Pudding Row Essex St, W D, Dublin, Dublin ..."
9,"[{'id': 13034, 'name': 'CafÃ©', 'icon': {'prefi...",206,Queen Of Tarts,53.344151,-6.267727,"Cork Hill, Dublin, Dublin City"
11,"[{'id': 13177, 'name': 'Greek Restaurant', 'ic...",253,Corfu Greek Restaurant,53.344707,-6.267628,"12 Parliament St, Dublin, Dublin City"
12,"[{'id': 13002, 'name': 'Bakery', 'icon': {'pre...",241,Aperitivo,53.344367,-6.267131,"6 Parliament St, Dublin, Dublin City"
13,"[{'id': 13018, 'name': 'Pub', 'icon': {'prefix...",274,The Porterhouse,53.345118,-6.267315,"16-18 Parliament St, Dublin, Dublin City"
14,"[{'id': 13064, 'name': 'Pizzeria', 'icon': {'p...",273,DiFontaine's Pizzeria,53.345082,-6.267720,"22 Parliament St, Dublin"
15,"[{'id': 13034, 'name': 'CafÃ©', 'icon': {'prefi...",255,Silk Road Cafe,53.342372,-6.267409,"Chester Beatty Library, Dublin Castle (Chester..."
19,"[{'id': 13039, 'name': 'Deli', 'icon': {'prefi...",310,Dollard & Co.,53.345298,-6.267124,"2-5 Wellington Quay, Dublin, Dublin 2, Dublin"
21,"[{'id': 13034, 'name': 'CafÃ©', 'icon': {'prefi...",295,Chez Max,53.343939,-6.266391,"1 Palace St, Dublin, Dublin City"
22,"[{'id': 13383, 'name': 'Steakhouse', 'icon': {...",297,Tomahawk,53.345241,-6.267154,"2-5 Essex Street East, Dublin, Dublin 2, Dublin"
23,"[{'id': 13065, 'name': 'Restaurant', 'icon': {...",299,"Roberta's Restaurant, Bar & Terrace",53.345232,-6.267255,"1 Essex Street East, Dublin, Dublin 2, Dublin"
25,"[{'id': 13065, 'name': 'Restaurant', 'icon': {...",338,Feast,53.340673,-6.268622,"Castle Way, Golden Lane, Dublin, D08 T8F2, Dublin"
26,"[{'id': 13144, 'name': 'Falafel Restaurant', '...",336,Umi Falafel,53.344027,-6.265380,"13 Dame St, Dublin, Dublin City"
27,"[{'id': 13148, 'name': 'French Restaurant', 'i...",341,Brasserie de Verres en Vers,53.340696,-6.269063,"Radisson SAS Royal Hotel, Golden Lane, Dublin,..."
28,"[{'id': 13034, 'name': 'CafÃ©', 'icon': {'prefi...",331,Bite of Life,53.340711,-6.272047,"55 Patrick St, Dublin, Dublin City"
33,"[{'id': 10026, 'name': 'Indie Movie Theater', ...",374,Irish Film Institute (IFI),53.344591,-6.265179,"6 Eustace St, Dublin, Dublin City"
35,"[{'id': 13199, 'name': 'Indian Restaurant', 'i...",380,Kathmandu Kitchen,53.344013,-6.264905,"18 Dame St, Dublin, Dublin City"
37,"[{'id': 10043, 'name': 'Theater', 'icon': {'pr...",366,Stage Door,53.345289,-6.265970,"11-12 E Essex St, Temple Bar, Dublin, Dublin City"
38,"[{'id': 13018, 'name': 'Pub', 'icon': {'prefix...",352,Bison Bar,53.345360,-6.266416,"11 Wellington Quay, Dublin, Dublin City"
41,"[{'id': 10000, 'name': 'Arts and Entertainment...",393,The Ink Factory,53.345413,-6.265809,"15 Wellington Quay, Dublin, Dublin City"
43,"[{'id': 13034, 'name': 'CafÃ©', 'icon': {'prefi...",396,Oxmantown,53.347030,-6.269880,"16 Mary's Abbey, City Markets, Dublin"
45,"[{'id': 13025, 'name': 'Wine Bar', 'icon': {'p...",416,The Port House Pintxo,53.345090,-6.265110,"12 Eustace St, Dublin, Dublin City"
46,"[{'id': 10032, 'name': 'Night Club', 'icon': {...",406,The George,53.343704,-6.264681,"89 S Great Georges St, Dublin, Dublin City"
47,"[{'id': 13016, 'name': 'Lounge', 'icon': {'pre...",412,The Long Hall,53.341904,-6.265243,"51 South Great George's St, Dublin, Dublin City"
48,"[{'id': 13072, 'name': 'Asian Restaurant', 'ic...",417,Musashi Noodles & Sushi BAR,53.347024,-6.268049,"15 Capel St, Dublin, Dublin City"
49,"[{'id': 13003, 'name': 'Bar', 'icon': {'prefix...",407,Yamamori Izakaya,53.343201,-6.264174,"12-13 South Great George's St, Dublin, Dublin ..."

In [82]:
categories = dublin['categories']
categories[1][1]
type(categories[1][1])
categories[1][1]['name']

'Pub'